<!DOCTYPE html>
<html>
<head>
    <title>Page Detail</title>
</head>
<body>
    <h2>{{ page.name }}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
                <tr>
                    <td>{{ link.name }}</td>
                    <td>{{ link.link }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_page' %}">Back to pages</a>
</body>
</html>
